@using X_Project.Models
@model LoginViewModel
@{
    ViewBag.Title = "Log in";
}
<script src="https://use.fontawesome.com/39ed85e26c.js"></script>
@*<div class="MyContainer">

        @Html.Partial("_ExternalLoginsListPartial", new ExternalLoginListViewModel { ReturnUrl = ViewBag.ReturnUrl })

</div>*@
<div class="MyContainer">

    <div class="login-screen">
        <div class="jumbotron text-center">
            <h1>Do it, do it now!</h1>
            <p class="lead">Login now to share wishes with your friends & family</p>
            @Html.Partial("_ExternalLoginsListPartial", new ExternalLoginListViewModel { ReturnUrl = ViewBag.ReturnUrl })
        </div>
    </div>
</div>
 

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}