
@{
    ViewBag.Title = "SendEmail";
}
<div class="MyContainer">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 text-center alert alert-success">
            <h1><strong>Success!</strong></h1><h1>Message sent, thanks for contacting us!</h1>
        </div>
    </div>
</div>


